<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.app.mapper.AlbumMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.app.model.Album" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cover_pic" property="coverPic" jdbcType="VARCHAR" />
    <result column="pic_count" property="picCount" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getShopAlbumPic" parameterType="long" resultType="com.aaa.lee.app.vo.ShopAlbumVo">
    select pa.shop_id,pa.name, pa.pic_count,pa.description,pa.cover_pic,pa.sort ,pap.album_id,pap.pic
      from pms_album pa inner join pms_album_pic pap on pa.id = pap.album_id where pa.shop_id=#{shopId}

  </select>
</mapper>